# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Excel temporary files
~$*.xlsx
~$*.xls

# Project specific
Instances.txt
